* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 32px;
    width: 10%;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav ul{
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
}
nav ul li{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    float: left;
}
p{
    color: grey;
}
.split{
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: steelblue;
    color: white;
    text-decoration: none;
    padding: 8px;
}
.list{
    text-decoration: none;
    color: black;
}
.image1{
    width: 100%;
}
.image1 {
    max-width: 100%;
    display: block;
    width: 100%;
    /* height: 50%; */
} 
.image p{
    /* border: 2px solid red; */
    text-align: center;
    position: absolute;
    left: 0%;
    top: 50%;
    width: 600px;
    margin: auto;
    height: 200px;
    margin-left: 500px;
    margin-top: 400px;
    font-size: 48px;
}

.section{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
.section p{
    max-width: 100%;
    padding: 0 20px;
    width: 1200px;
    margin: 80px auto;
    line-height: 2em;
    font-size: 16px;
    text-align: center;
}


.flex-container{
    display: flex;
    flex-wrap: nowrap;
    /* background-color: whitesmoke; */
}
.flex-container > div{
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
}
#picture-content{
    color: white;
}
.one{
    /* border: 1px solid green; */
    padding: 30px;
    width: 1000px;
    height: 300px;
    /* margin: 20px; */
    background-color: whitesmoke;
}
.content{
    color: steelblue;
}
.flex-container2{
    display: flex;
    flex-wrap: nowrap;
    /* background-color: whitesmoke; */
}
.flex-container2 > div{
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
}
.flex-container2 .two{
    border: 1px solid green;
    padding: 20px;
    width: 500px;
    height: 700px;
    background-color: whitesmoke;
    text-align: left;
    margin: 10px 15px;
}
.image2{
    height: 700px;
    width: 500px;
    margin-top: -600px;
    margin-right: -650px;
    margin-bottom: 0;
    margin-left: 850px;
}
